*{ 
  margin: 0;
  padding: 0;
}

body {
  background: #393A43;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  
}

.container {
  border: none;
  background: #69696C;
  border-radius: 20px;
  box-shadow: 1px 6px 4px #282828;
  padding: 20px;
 
}


input{
  width: 450px;
  text-align: right;
  font-size: 40px;
  font-weight: bolder;
  border: none;
  padding: 20px;
  margin: 15px;
  border-radius: 5px;
  box-sizing: border-box;
}


button{
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  background: #FFFFFF;
  border:none;
  border-radius:10px;
  width: 95px;
  height: 95px;
  font-weight: bold;
  box-shadow:inset 1px 1px 2px rgba(0,0,0,.3);
}

   .btn .btneq {
       background:#F67B00ed;
   }
   

  .lasdv .emtbtn{
    background: transparent;
    box-shadow: none;
  }


 @media (max-width: 360px)
 {
   body {
  background: #393A43;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  
}

   .container {
  
  border: none;
  background: #69696C;
  border-radius: 20px;
  box-shadow: 1px 6px 4px #282828;
  padding: 20px;
 
}
   
   input{
  width:100%; /*of the container*/
  text-align: right;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  box-sizing: border-box;
}


button{
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  background: #FFFFFF;
  border:none;
  border-radius:10px;
  width: 50px;
  height: 50px;
  font-weight: bold;
  box-shadow:inset 1px 1px 2px rgba(0,0,0,.3);
  
}
 }